<!DOCTYPE html>
<html>
	<head>
		<style>
			tr {
			  color: black;
			}
			label {
			  color: white;
			}
			select {
			  color: white;
			}
			.dataTables_info{
			  color: white;
			}
			.paginate_button previous{
			  color: white;
			}
		</style>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/index.css' />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="body-container">
		<%- include partials/top-nav.ejs %>
		<div class="body-content">
			<header class="header">
				<navbar class="navbar-container">
					<div class="navbar-leftPane">
						<ul class="lists">
							<li class="close-icon" id="close-icon">
								<i class="fa fa-close"></i>
							</li>
							<li class="is-active"><a href="/home">Home</a></li>
							<li><a href="/searchBy">Search</a></li>
							<li><a style="position: sticky; " href="/logout">Logout</a> </li>
							<li><a href="/about">About</a></li>
						</ul>
					</div>
					<div class="navbar-rightPane">

						<!-- <div align="right"><a><%=welcome%></a></div> -->

			
													
		  
						<span class="welcome-msg"><%=welcome%></span>
						<span class="collapsable-icon" id='collapsable-icon'>
							<i class="fa fa-bars"></i>
						</span>
					</div>
				</navbar>
			</header>
			<div class="main-content">
				<div>
				
				<form action="/find" method="post" id="form01" onsubmit="return false;">
					<div class="input">
						<h3>Search By:</h3>
						<!-- Search options-->
						<input type="radio" checked="checked" name="radioField" value="vTitle">
						<label class="container">Video Title
							<span class="checkmark"></span>
						</label>
						<input type="radio" name="radioField" value="vVis">
						<label class="container">Visibility
							<span class="checkmark"></span>
						</label>
						<input type="text" value="<%=Value1%>" style="margin-left: 10px;" id="Value" placeholder="Value ..." name="Value">
						<button type="submit" onclick="submitOnHit(0)"><i class="fa fa-search"></i>
					</div>
				</form>
				</div>
				<p>----------------------------------------------------------------------------------------------</p>
				<h3>Search Results:</h3>	
			</div>
			<table id="dd">
				<thead>
					<tr>
						<th><strong><center>Delete			</center></strong></th>
						<th><strong><center>index			</center></strong></th>
						<th><strong><center>Video Title		</center></strong></th>
						<th><strong><center>Date			</center></strong></th>
						<th><strong><center>Visibility		</center></strong></th>
						<th><strong><center>Views count		</center></strong></th>
						<th><strong><center>Comments count	</center></strong></th>
						<th><strong><center>URL				</center></strong></th>
					</tr>
				</thead>
				<tbody>
					<%
						var list = '';
						for (i = 0; i < videosMetadata.length; i++) {
							var index = i + 1;
							list += ['<tr>',
											'<td><button value='+(videosMetadata[i].vURL).toString()+' onclick="deleteRecords(this.value);"><i style="width=50px; height=60px;" class="fa fa-trash"></i></button></td>',
											'<td>' + index						+'</td>',
											'<td>' + videosMetadata[i].vTitle	+'</td>',
											'<td>' + videosMetadata[i].vDate	+'</td>',
											'<td>' + videosMetadata[i].vVis		+'</td>',
											'<td>' + videosMetadata[i].vView	+'</td>',
											'<td>' + videosMetadata[i].vNoComm	+'</td>',
											'<td><a href="'+videosMetadata[i].vURL+'">'+videosMetadata[i].vURL+'</a></td>',
										'</tr>'].join('\n');
							}	
					%>
					<%- list %>		
				</tbody>	
			</table>
		</div>


		<script>
			// Delete record by clicking trash icon next to each row
			var deleteRecords = function (vURL) {
				console.log(vURL.substring(vURL.indexOf('=') + 1));
				var txt;
				var r = confirm("Are you sure you want stop sharing this record with PLEX lab team");
				if (r == true) {
					location.replace("/delete/"+vURL.substring(vURL.indexOf('=') + 1));
				} 			
			}
			// Submit find form by hitting enter
			function submitOnHit(e) {
				if((e && e.keyCode == 13) || e == 0) {
					document.forms.form01.submit();
				}
			}
			// Call pagination function after getting search results
			function pagination(){
				var pageRowsCount	= 15;
				var $tr				= jQuery('tbody tr');
				var totalRowsCount	= $tr.length;
				var pagesCount		= 0;
				// Compute how many pages are required to show search results
				if(totalRowsCount % pageRowsCount == 0) pagesCount = totalRowsCount / pageRowsCount;
				else									pagesCount = 1 + Math.floor(totalRowsCount/pageRowsCount);
				// Create pages number 
				for(var i=1; i<=pagesCount; i++){
					jQuery('#pagination').append("<a>"+i+"</a> ");
				}
				$tr.each(function(i){
					jQuery(this).hide();
					if(i+1 <= pageRowsCount){
						$tr.eq(i).show();
					}
				});
				// Create pages number url
				jQuery('#pagination a').click(function(e){
					e.preventDefault();
					$tr.hide();
					// Keep the underline on the selected page only
					var $a	    = jQuery('#pagination a');
					$a.css('text-decoration', 'none');
					$(this).css('text-decoration', 'underline');
					var page	= jQuery(this).text();
					var temp 	= page - 1;
					var start	= temp * pageRowsCount;
					for(var i = 0; i < pageRowsCount; i++)	$tr.eq(start+i).show();
				}); 
			}// End of pagination function
			// Apply pagination if document is ready
			jQuery('document').ready(function(){
				//pagination();
			});
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script> 
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script>
			flag = false;
			$(document).ready(function() {
				$('#dd').DataTable( {
					"order": [[ 0, "desc" ]]
				} );
				$('#dd_info').css('color', 'white');
				$('#dd_previous').css('color', 'white');
				$('#dd_next').css('color', 'white');
			} );
		</script>
	</body>
	<br>
	<br>
	<%- include partials/footer.ejs %>
</html>	