<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/form.css' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="body-container">
		<%- include partials/top-nav.ejs %>
		<div class="body-content">
			<header class="header">
				<navbar class="navbar-container">
					<div class="navbar-leftPane">
						<ul class="lists-aboutPage">
							<li class="close-icon" id="close-icon">
								<i class="fa fa-close"></i>
							</li>
							<li><a href="/home">Home</a></li>
							<li><a href="/searchBy">Search</a></li>
							<li class="is-active"><a href="/<%=loginStat%>"><%=loginStat%></a> </li>
							<li><a href="/about">About</a></li>
						</ul>
					</div>
					<div class="navbar-rightPane">
						<span class="welcome-msg">Welcome</span>
						<span class="collapsable-icon" id='collapsable-icon'>
							<i class="fa fa-bars"></i>
						</span>
					</div>
				</navbar>
			</header>

			<div class="main-content">
				</br></br>
				<section class="post">
					<div class="loginForm-parent">

						<!-- Saleem check and remove comment  -->
						<!-- <form action="/ulogin" method="post">
	<div class="input">
	<p>Username
	<input type="text" style="margin-left: 10px;" size="25" id="username" placeholder="username..." name="username" required>
	</p>
	<p>password
	<input type="password" style="margin-left: 15px;" size="25" id="pswd" placeholder="password..." name="pswd" required>
	</p>
	<button type="submit">Sign in</button>
	</div>
	</form> -->
						<div class="form-container">

							<h3>Login</h3>

							<div class="error-message">
								<div class="message-content"><%=error1%> </div>
							</div>

							<div class="form-fields">
								<form action="/ulogin" method="post" class="login-form"">

									<div class="form-element">
										<input type="text" id="username" name="username" placeholder="Username"
											autocomplete="off" required>
									</div>
									</br>
									<div class="form-element">
										<input type="password" id="pswd" name="pswd" placeholder="Password"
											autocomplete="off" required>
									</div>
									<div class="form-element">
										<button type="submit" value="Submit" class="signin-button">Sign In</button>
									</div>
								</form>
							</div>

							</br>
							<div class="account-related">
								<div class="account-related-links">
									<span class="create-account">
										<a href="/register">New User?</a>
									</span>

									<span class="restore-account">
										<a href="/restoreAccount">Reset Password</a>
									</span>

								</div>
							</div>
							</br>
						</div>

						<!-- <p>Not a User? <a style="position: sticky;" href="/register">Create an Account</a> -->
						<!-- <p>Forgot Password? <a style="position: sticky;" href="/restoreAccount">Reset Your Password</a>
	</div> -->
				</section>

				</br>
				</br>

			</div>
		</div>
	</div>
	<%- include partials/footer.ejs %>
	<!-- <footer class="footer">&copy; Created By PLEX Lab in New Mexico State University </footer> -->
	<script src="/javascripts/index.js">
	</script>
</body>

</html>
