<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div>
			<a style="position: sticky;" 	href="/home">Home</a>
			<a style="position: sticky;" 	href="/searchBy">Search</a>
			<a style="position: sticky;  text-transform: capitalize;" href="/<%=loginStat%>"><%=loginStat%></a>
			<a style="position: sticky;" 	href="/about">About</a>	
		</div>
		<header>
			<p><%= title %><br><br><strong>Restore Account</strong></p>
		</header>
		<section class="post">
			<form action="/resetPass" method="post">
				<div class="input">
					<p>New password
						<input type="password"	style="margin-left: 46px;" size="25" id="pass"		placeholder="New password" 			name="pass" 	required>
					</p>
					<p>Re-enter Password
						<input type="password" 	style="margin-left: 20px;" size="25" id="repass"	placeholder="Re-enter password" 	name="repass" 	required>
					</p>
						<input type="hidden"style="margin-left: 46px;" size="25" id="username"	placeholder="username" 				name="username" value=<%=userVal%>>
					<button type="submit">Restore</button>
					<br>
					<br>
					
					<div style="color:red;">	<strong>	<%=error1%>	</strong></div>
					<div style="color:green;"	><strong>	<%=success%></strong></div>
				</div>
			</form>
		</section>
	</body>
	<br>
	<br>
	<div class="footer">&copy; Created By PLEX Lab in New Mexico State University </div>
</html>
